<div ng-cloak>
    <md-content>
        <md-content layout-padding>
            <div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon md-svg-src="../../asset/demos/input/demoIcons/icons/ic_person_24px.svg" class="name"></md-icon>
                        <label>First name</label>
                        <input id="firstName" name="firstName" ng-model="user.firstName">
                    </md-input-container>                    

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input id="lastName" name="lastName" ng-model="user.lastName" >
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Roll No.</label>
                        <input id="lastName" name="lastName" ng-model="user.lastName">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row" ng-controller="searchController as ctrl">
                    <md-input-container>                                                     
                        <md-autocomplete ng-disabled="ctrl.isDisabled"
                                         md-no-cache="ctrl.noCache"
                                         md-selected-item="ctrl.selectedItem"
                                         md-search-text-change="ctrl.querySearchStudent(ctrl.searchText)"
                                         md-search-text="ctrl.searchText"
                                         md-selected-item-change="ctrl.selectedItemChange(item.value)"
                                         md-items="item in ctrl.data"
                                         md-item-text="item.text"
                                         md-min-length="0"
                                         placeholder="Enter Student Name">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.text}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                        <br />
                        <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
                        <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
                        <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>

                    </md-input-container>
                </div>
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Parent's Name</label>
                        <input id="age" name="age" ng-model="user.age">
                    </md-input-container>

                    <md-input-container>
                        <label>Date Of Birth</label>
                        <md-datepicker id="dob" name="dob" ng-model="user.dob"></md-datepicker>
                    </md-input-container>

                </div>                
                <!--<md-button class="md-raised md-primary" ng-click="search(user)">Primary</md-button>-->
            </div>
        </md-content>
    </md-content>
</div>
<div ng-include="'/html/student/studentsList.html'"></div>